<div class="center-box">
  <div class="box-register" id="register">
    <h1 class="register-text" style="margin-left: 8px;">Registriraj se</h1>
    <p class="register-text" style="margin-left: 10px;">Brzo i jednostavno</p>
    <%- include("../partials/messages"); %>
    <form action="/register" method="POST" class="aligncenter">
      <div class="form-group">
        <input
          type="name"
          id="name"
          name="name"
          class="name"
          placeholder="Ime"
          value="<%= typeof name != 'undefined' ? name : '' %>"
        />
        <input
          type="lastName"
          id="lastName"
          name="lastName"
          class="name"
          placeholder="Prezime"
          value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          class="registerinput"
          placeholder="Email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          class="registerinput"
          placeholder="Lozinka"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
      </div>
      <div class="form-group">
        <div class="register-text">
          <label class="register-label" for="dateOfBirth">Datum rođenja</label>
        </div>
        <div>
          <select id ="day" name = "dateOfBirth" class="selectbday"></select>
          <select id ="month" name = "dateOfBirth" onchange="change_month(this)" class="selectbday"></select>
          <select id ="year" name = "dateOfBirth" onchange="change_year(this)" class="selectbday"></select>
        </div>
      </div>
      <div class="form-group">
        <div class="register-text">
          <label class="register-label" for="gender">Spol</label>
        </div>
        <span class="genderspan">
          <span class="gender">
            <label for="male" class="gender-label">Muško</label>
            <input id="male" type="radio" name="gender" class="genderselect" value="Muško">
          </span>
          <span class="gender">
            <label for="female" class="gender-label">Žensko</label>
            <input id="female" type="radio" name="gender" class="genderselect" value="Žensko">
          </span>
          <span class="gender">
            <label for="other" class="gender-label">Drugo</label>
            <input id="other" type="radio" name="gender" class="genderselect" value="Drugo">
          </span>
        </span>
      </div>
      <p class="register-text" style="font-size: smaller; color: rgb; margin-left: 12px;">Registracijom se slažete sa našim <a href="" class="anodeco">Uvjetima korištenja</a>.</p>
      <button type="submit" class="registerbutton">
        Registriraj se
      </button>
      <p class="mt-2">Imate račun? <a href="/login">Prijavite se</a></p> 
    </form>
  </div>
</div>