<div class="center-box">
  <div class="box-register" id="register">
    <h1 class="register-text" style="margin-left: 8px;">Register</h1>
    <p class="register-text" style="margin-left: 10px;">Fast and easy</p>
    <%- include("../partials/messages"); %>
    <form action="/register" method="POST" class="aligncenter">
      <div class="form-group">
        <input
          type="name"
          id="name"
          name="name"
          class="name"
          placeholder="Name"
          value="<%= typeof name != 'undefined' ? name : '' %>"
        />
        <input
          type="lastName"
          id="lastName"
          name="lastName"
          class="name"
          placeholder="Last Name"
          value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          class="registerinput"
          placeholder="Email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          class="registerinput"
          placeholder="Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
      </div>
      <div class="form-group">
        <div class="register-text">
          <label class="register-label" for="dateOfBirth">Date of birth:</label>
        </div>
        <div>
          <select id ="day" name = "dateOfBirth" class="selectbday"></select>
          <select id ="month" name = "dateOfBirth" onchange="change_month(this)" class="selectbday"></select>
          <select id ="year" name = "dateOfBirth" onchange="change_year(this)" class="selectbday"></select>
        </div>
      </div>
      <div class="form-group">
        <div class="register-text">
          <label class="register-label" for="gender">Gender</label>
        </div>
        <span class="genderspan">
          <span class="gender">
            <label for="male" class="gender-label">Male</label>
            <input id="male" type="radio" name="gender" class="genderselect" value="Muško">
          </span>
          <span class="gender">
            <label for="female" class="gender-label">Female</label>
            <input id="female" type="radio" name="gender" class="genderselect" value="Žensko">
          </span>
          <span class="gender">
            <label for="other" class="gender-label">Other</label>
            <input id="other" type="radio" name="gender" class="genderselect" value="Drugo">
          </span>
        </span>
      </div>
      <div style="font-size: smaller; opacity: 0.8; margin-left: 6px;">
        <p class="register-text">By registering you agree on our <a href="" class="anodeco">Terms & Conditions</a>.</p>
      </div>
      <button type="submit" class="registerbutton">
        Register
      </button>
      <p class="mt-2">Already have an account?<a href="/login">Login</a></p> 
    </form>
  </div>
</div>